[package]
name = "core_model"
version = "0.1.0"
edition.workspace = true

[dependencies]
anyhow = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
core_persona = { path = "../core_persona" }
core_types = { path = "../core_types" }

